/*font-family: 'Rubik', sans-serif;
font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/

body{
  font-family: 'Cabin', sans-serif;
  text-align: center;
}
header{
  font-family: 'Quicksand', sans-serif;
}

.projects{
  margin-top: 10px;
  border-width: 30%;
  border-style: groove;
  border-color: blue;
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
}
