/*font-family: 'Rubik', sans-serif;
font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
/*rgb(211,241,239)*/
/*rgb(161,188,217)*/
/*rgb(246,236,91)*/
/*rgb(244,153,80)*/
/*rgb(244,119,108)*/

body{
  margin: 0;
    background-color: rgb(211,241,239);
}



main{
  margin: 0;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(211,241,239);
}
header{
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(244,153,80);
  /*width: 100%;*/
  padding: 50px;
  padding-right: 40%;
  width:100%;
}
article{
  width: 100%;
  padding: 20px;
  padding-right: 50%;
  background-color: rgb(244,153,80);

  font-size: 1.2em;
  position: relative;

}


.projectbox{
  margin-top: 10px;
  border-width: 30%;
  border-style: solid;
  border-color: rgb(161,188,217);
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.project{
    margin: 10px;
    background-color: rgb(161,188,217);
    border-radius: 10px;
    padding: 10px;
}
a{
  color: black;
}
a:hover{
  color: rgb(244,119,108);
}

.deco1{
  background-color: rgb(244,119,108);
  z-index: 10;
  /*width: 500px;*/
  height: 1000px;
  bottom: 0px;
  width: 20%;
  position: fixed;
  margin-left: 0;

}
