@import url('https://fonts.googleapis.com/css?family=Bahiana|Cabin|Mukta+Vaani:200,400,700');

$bgcolor: rgb(112,48,48);
$copycolor:  rgb(47,52,59);
$headcolor:  rgb(199,121,102);
$boxcolor:  rgb(227,205,164);
$borderclolor: rgb(126,130,122);
$copyfont: 'Mukta Vaani', sans-serif;
$headfont: 'Bahiana', cursive;
$linkfont: 'Cabin', sans-serif;
