@import '../img/icon/*.png';
@include all-icon-sprites;

html{
  background-color: rgb(40,40,40);
}


li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  a{
    display: inline-block;
    width: 100px;
    height: 100px;
    // box-shadow: 5px 6px 10px rgb(40,40,40);
    span{
      position: absolute;
      top: -9999em;
      left: -9999em;
    }//span
  }//a
}//li

ul{
  list-style: none;
}


header{
  text-align: center;
  padding-top: 50px;
  color: whitesmoke;
}
nav{
  text-align: center;
}

footer{
  text-align: center;
}
