.icon-sprite, .icon-bank, .icon-check, .icon-envlp, .icon-facebook, .icon-globe, .icon-insta, .icon-snapchat, .icon-spotify, .icon-tumblr, .icon-twitter {
  background-image: url('../img/../img/icon-s147fd3f56a.png');
  background-repeat: no-repeat;
}

.icon-bank {
  background-position: 0 -100px;
}
.icon-bank:hover, .icon-bank.bank-hover {
  background-position: 0 0;
}

.icon-check {
  background-position: 0 -300px;
}
.icon-check:hover, .icon-check.check-hover {
  background-position: 0 -200px;
}

.icon-envlp {
  background-position: 0 -500px;
}
.icon-envlp:hover, .icon-envlp.envlp-hover {
  background-position: 0 -400px;
}

.icon-facebook {
  background-position: 0 -600px;
}

.icon-globe {
  background-position: 0 -800px;
}
.icon-globe:hover, .icon-globe.globe-hover {
  background-position: 0 -700px;
}

.icon-insta {
  background-position: 0 -900px;
}

.icon-snapchat {
  background-position: 0 -1000px;
}

.icon-spotify {
  background-position: 0 -1200px;
}
.icon-spotify:hover, .icon-spotify.spotify-hover {
  background-position: 0 -1100px;
}

.icon-tumblr {
  background-position: 0 -1300px;
}

.icon-twitter {
  background-position: 0 -1400px;
}

html {
  background-color: #282828;
}

li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
li a {
  display: inline-block;
  width: 100px;
  height: 100px;
}
li a span {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

ul {
  list-style: none;
}

header {
  text-align: center;
  padding-top: 50px;
  color: whitesmoke;
}

nav {
  text-align: center;
}

footer {
  text-align: center;
}
